body {
  background-color: #171717;
  margin: 0;
}

.Headings {
  color: #EDEDED;
  font-family: 'Arima Madurai', cursive;
  font-size: 5rem;
  font-weight: normal;
  margin: 0 auto 5rem auto;
  position: relative;
  top: 2rem;
  text-shadow: 0 0 3px black, 0 2px 0 black, 2px 0 0 black;
}

.subHeadings {
  color: #EDEDED;
  font-family: 'Lato', sans-serif;
  font-size: 3.8rem;
  font-weight: normal;
  margin: 0rem auto 0rem auto;
  position: relative;
  text-shadow: 0 0 3px black, 0 2px 0 black, 2px 0 0 black;
}

.paragraphs {
  color: #EDEDED;
  font-family: 'Lato', sans-serif;
  font-size:  1.6rem;
  font-weight: normal;
  position: relative;
  margin: 0 auto 2rem auto;
  text-indent: 100px;
}

.paragraphs2 {
  color: #EDEDED;
  font-family: 'Lato', sans-serif;
  font-size: 2.8rem;
  font-weight: normal;
  position: relative;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.paragraphs3 {
  color: #EDEDED;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  font-style: italic;
  position: relative;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.top {
  position: relative;
  height: 152px;
  display: flex;
  justify-content: center;
}

.top2 {
  position: relative;
  height: 18rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hypeR {
  bottom: 0;
  position: absolute;
  right: 10%;
}

.hypeL {
  bottom: 0;
  position: absolute;
  left: 10%;
  transform: scaleX(-1);
}

.mainpage {
  background-color: #3E065F;
  position: relative;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.sandmanpic {
  border-radius: 5%;
  width: auto;
  height: 500px;
  margin-right: 25px;
}

.log_screenshots {
  width: auto;
  height: 90px;
}

.myButton {
  background-color: #700B97;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #EDEDED;
  font-family: 'Lato', sans-serif;
  font-size: 44px;
  padding: 20px 48px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ded17c;
  transition: all .3s;
}

.myButton:hover {
  background-color: #EDEDED;
  color: #700B97;
  transform: scale(1.1);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton1{
  margin-top: 0;
  width: 324px;
  text-align: center;
}
.mybutton2{
  margin-bottom: 0;
}

@media only screen and (max-device-width: 812px) {
  .mainpage{
    flex-direction: column;
  }
  .myButton1{
    margin-top: 20px;
  }
  .mybutton2{
    margin-bottom: 40px;
  }

  .myButton {
    font-size: 30px;
    padding: 11px 24px;
    width: auto;
  }
  .sandmanpic{
    width: auto;
    height: 400px;
  }

}

.dots {
  margin: 300px auto;
  width: 5%;
  border: dotted 20px;
  border-color: #845460;
  border-bottom: none;
  background-color: transparent;
}
#manifesto {

}
.manifesto_heading {
  position: relative;
  height: 152px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10rem auto 0rem auto;
}

.manifesto_paragraph {
  position: relative;
  padding-right: 40rem;
  padding-left: 40rem;
}

.belowdots{
  position: relative;
  height: 110px;
  display: flex;
  justify-content: center;
}

#bottom{
  background-color: #3E065F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  height: 450px;
}
.mediaicon{
  width: 8rem;
  margin: 10px 6rem;
}

.dots2 {
  margin: 100px auto;
  width: 5%;
  border: dotted 20px;
  border-color: #845460;
  border-bottom: none;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: .25rem;
}

body::-webkit-scrollbar-track {
  background: #252626;
}

body::-webkit-scrollbar-thumb {
  background: #3e3e54;
}
